.css--page--index {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.css--page--index__item {
  text-align: center;
  margin: 0.5em 0;
}

.css--page--index__list {
  align-items: center;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.css--page--index__part {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}

.css--page--index__title {
  background-color: lightgrey;
  text-align: center;
}
