.css--page--loading {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.css--page--loading__list {
  align-items: center;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.css--page--loading__menu {
  background-color: lightblue;
}

.css--page--loading__menu-item {
  text-align: center;
  margin: 0.5em 0;
}

.css--page--loading__part {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}

.css--page--loading__title {
  background-color: lightgrey;
  text-align: center;
}
