<div class="css--page--form">
  <ul class="css--page--form__part css--page--form__menu">
    <li class="css--page--form__menu-item">
      <h2><a [routerLink]="['/']">Вернуться к списку заданий</a></h2>
    </li>
  </ul>
  <h1 class="css--page--form__part css--page--form__title">{{title}}</h1>
  <div class="css--page--form__part css--page--form__container">
    <div class="css--page--form__column css--page--form__column_left">
      <input type="text" value="text" class="css--page--form__input">
      <input type="text" value="text" class="css--page--form__input">
      <input type="text" value="text" class="css--page--form__input">
    </div>
    <div class="css--page--form__column css--page--form__column_right">
      <div class="css--page--form__fields">
        <div class="css--page--form__field">
          <input type="checkbox" class="css--page--form__checkbox" id="id--page--form__checkbox_1"><label
          for="id--page--form__checkbox_1">checkbox</label>
        </div>
        <div class="css--page--form__field">
          <input type="checkbox" class="css--page--form__checkbox" id="id--page--form__checkbox_2"><label
          for="id--page--form__checkbox_2">checkbox</label>
        </div>
      </div>
    </div>
  </div>
</div>
